/.tmp/
/.sass-cache/
/bower_components/
/node_modules/
/app/config/target.config.js
/.idea/workspace.xml
/app/scripts/<%= appNameKebab %>.js
/app/scripts/<%= appNameKebab %>.min.js
/app/scripts/<%= appNameKebab %>.min.js.map
/app/languages/min/
/app/styles/css/<%= appNameKebab %>.css
/app/styles/css/<%= appNameKebab %>.css.map
/app/styles/css/<%= appNameKebab %>.min.css
/app/styles/css/<%= appNameKebab %>.min.css.map
/app/styles/css/init-loader.css
/app/styles/css/init-loader.css.map
/app/styles/css/init-loader.min.css
/app/styles/css/init-loader.min.css.map
/release/
/test/
/preprod/
/prod/
/app/index.html
